.container {
  margin: 36px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadInput {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploadButton {

}

.uploadWrapper {
  position: relative;
  overflow: hidden;
}

.preview {
  max-width: 400px;
  max-height: 400px;
  margin: 16px auto;
  border: 1px dashed #bbb;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.actions {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.button {
  margin: 0 16px;
}
