.dropzone {
  cursor: pointer;
  background: #f2f2f2;
  padding: 8px;
  width: 90%;
  margin: 16px auto;
  text-align: center;
  border: 1px dashed #bbb;
  color: #9c9c9c;
  font-size: 16px;
  max-width: 200px;
  height: 200px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.dropzone span {
  text-decoration: underline;
}

.preview {
  max-width: 400px;
  max-height: 400px;
  margin: 16px auto;
  border: 1px dashed #bbb;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.actions {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.button {
  margin: 0 16px;
}
