.outer {
  color: #555;
  font-weight: 600;
  font-size: 24px;
  padding: 24px 0;
  max-width: 400px;
  margin: auto;
  width: 90%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  border: 4px solid;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  font-size: 10px; 
}

.outer h2 {
  padding: 24px 0 24px 0;
  font-weight: 500;
  font-size: 30px;
}

.outer h3 {
  padding: 4px 0 16px 0;
  font-weight: 500;
  font-size: 16px;
}

.outer form {

}

.button {
  margin: 8px 0 16px 0;
  font-size: 14px;
}

.other{
  font-size: 12px;
  font-weight: 400;
}

.other span {
  text-decoration: underline;
}

