.image-list {
  margin: 50px auto;
  width: 90%;
  line-height: 0;
  column-count: 3;
  column-gap: 16px;  
}

.image {
  width: 100% !important;
  height: auto !important;
}

.load-more {
  cursor: pointer;
  padding: 16px;
  text-align: center;
  background: #efefef;
  border-radius: 4px;
  max-width: 120px;
  margin: 8px auto;
  font-size: 14px;
}

.image-item {
  position: relative;
  margin: 0 0 16px 0;
}

.user-details {
  position: absolute;
  bottom: 0;
  line-height: 32px;
  width: 100%;
  height: 100%;
  padding: 8px 0 8px 8px;
  background: rgba(0,0,0,0.6);
  color: white;
  opacity: 0;
  text-decoration: none;
  display: block;
  transition: opacity 0.1s;
}

.user-details:hover {
  opacity: 1;
}
