.masonry {
  width: 90%;
  margin: auto;
}

.image {
  width: 100% !important;
  height: auto !important;
}

.load-more {
  margin: 8px auto;
  font-size: 14px;
}

.image-item {
  position: relative;
  width: 33.3%;
  padding: 8px;
}

.user-details {
  position: absolute;
  bottom: 12px;
  right: 8px;
  left: 8px;
  top: 8px;
  padding: 8px;
  line-height: 32px;
  background: rgba(0,0,0,0.6);
  color: white;
  opacity: 0;
  text-decoration: none;
  display: block;
  transition: opacity 0.3s ease;
}

.user-details:hover {
  opacity: 1;
  color: white;
}

@media only screen and (max-width: 767px) {
  .image-item {
    width: 100%;
  }
}
