.outer {
  margin: 0 0 36px 0;
}

.publicScore {
  text-align: center;
  margin: 4px 0;
  font-size: 14px;
}

.publicScore span {
  padding: 0 8px; 
}

.privateScore {
  margin: 16px auto;
}

.boosters {
  text-align: center;
  margin: 16px auto;
  font-size: 14px;
}

.link {
  text-decoration: underline;
  margin: 0 8px;
  cursor: pointer;
  font-size: 12px;
}
