.outer {
  padding: 8px 0;
}

.label {
  color: #555;
  font-weight: 600;
  font-size: 14px;
}

.input {
  margin: 8px auto;
  border: 2px solid #ddd;
  color: #555;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding: 8px 8px;
  border-radius: 4px;
  box-shadow: none;
}

.input:focus {
  border: 2px solid #888;
}

.link {
  font-size: 12px;
  padding: 0 8px;
}

.error {
  visibility: hidden;
  height: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 10px;
  font-weight: 400;
  color: #ff7878;
}

.showError {
  visibility: visible;
}

.errorInput {
  border-color: #ff7878;
}
