.upper {
  position: relative;
  margin: 72px auto 72px;
  width: 90%;
}

.upper h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 16px 0;
  color: #333;
}

.upper h2 {
  font-size: 20px;
  margin: 0 0 8px 0;
  font-weight: normal;
  color: #444;
}

.upper h2 span{
  font-weight: 500;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  height: 100%;
}

.title {
  margin: 8px auto;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.content {
  font-size: 16px;
  color:#444;
  line-height: 24px;
}

.content span {
  font-weight: 600;
}

.outer section {
  display: flex;
  margin: 42px auto;
  max-width: 90%;  
}

.right img {
  max-width: 500px; 
}

@media only screen and (max-width: 767px) {
  .outer section {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right img {
    max-width: 100%;
  }
}
